.chat-input {
  max-height: 156px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__input {
    background-color: transparent;
    color: #6c7883;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    border: transparent;
    flex: 1 0 auto;
    margin: 18px 40px;
    resize: none;
  }
  &__input:focus {
    outline: none;
  }
  &__icon {
    flex: 0 0 auto;
    margin: 18px 15px 18px 15px;
    width: 24px;
    height: 24px;
  }
}
