.chat-input {
  max-height: 156px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  position: relative;

  &__input {
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    color: #6c7883;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    border: transparent;
    flex: 1 0 auto;
    margin: 18px 40px;
    resize: none;
    display: inline-block;
    max-width: 70%;
    word-break: break-all; /* optional */
  }
  &__input:focus {
    outline: none;
  }
  &__icon {
    position: absolute;
    margin: 18px 15px 18px 15px;
    width: 24px;
    height: 24px;
  }
  &__icon:first-child {
    left: 0;
    cursor: pointer;
  }
  &__icon:last-child {
    right: 0;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }

}
