.dialog-item {
  height: 83px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  cursor: pointer;

  &__avatar {
    margin: 10px 0 10px 13px;
  }

  &__info {
    margin-left: 33px;
    width: 266px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-top {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      margin-right: 14px;
      b {
        color: #ffffff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span {
        color: #6c7883;
      }
    }
    &-bottom {
      margin-bottom: 17px;
      color: #6c7883;
      p {
        white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden; /* Обрезаем все, что не помещается в область */
        text-overflow: ellipsis; /* Добавляем многоточие */
        padding-right: 10px;
      }
    }
  }
}
.dialog-item:hover{
  background-color: #222b33;
}
